 <header>
        <div id="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="#"><img src="{{ absolute_url(asset("images/image.png")) }}" style="height : 170px;"  title="Bouchra Immobillier" alt="AGENCE Bouchra Immobillier" ></a>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="main-menu">
                            <ul>
                                <li class="active"><a href="{{ path('home.index') }}">Accueil</a></li>
                                <li><a href="{{ path('about.index') }}">A propos</a></li>
                                <li><a href="{{ path('achat.index') }}">Acheter</a></li>
                                <li><a href="{{ path('vends.index') }}">Vendre</a></li>
                                <li><a href="{{ path('location.index') }}">Louer</a></li>
                                <li><a href="{{ path('contact.index') }}">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="search-box">
                            <form name="search_form" method="get" class="search_form">
                                <input id="search" type="text" />
                                <input type="submit" id="search-button" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </header>